/*
    font: Roboto - Texto geral
    font: Sunflower - Titulos
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sunflower:wght@300;500;700&display=swap%27');
/*CONFIGURAÇÕES PADÃO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-menu{
    display: none;
}
li{
    list-style: none;
}
.text-style{
    font-family: Roboto;
    color: #5a5444;
    line-height: 2em;
    font-size: 1.1704em;
}
.title-style{
    font-family: Sunflower;
    color:#292929;
    font-size: 1.3376em;
}
.container{
    display: flex;
    justify-content: space-around;
}
input.btn-started{
    cursor: pointer;
    font-size: 12pt;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
}
input.btn-started:hover{
    transform: translate(1px, 1px);
    transition: transform .2s;
}

.check-list{
    display: flex;
    gap: 10px;
}
#email{
    height: 54px;
    border: solid 1px #b1afae;
    border-radius: 5px;
    text-align: center;
    color: #b1afae;
}
/*FIM DAS CONFIGURAÇÕES*/
.close{
    display: none;
}
.btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.btn-close img{
    width: 35px;
}
.container-bg{
    position: absolute;
}
.bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #0000007c;
}
.bg-show{
    display: block;
}
.form {
    display: none;
    width: 500px;
    height: 300px;
    box-shadow: 1px 1px 15px #0000007c;
    border-radius: 25px;
    padding: 40px;
    background-color: #f0eeeb;
    text-align: center;
}
.form input.btn-started{
    width: 100px;
    margin-top: 15px;
}
.form-show {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.form-show label img{
    width: 20px;
}
.style-input input{
    height: 30px;
    border: none;
    border-bottom: 1px solid #b1afae;
    background: none;
    margin-top: 20px;
}
.style-input input:focus-visible{
    outline: none;

}
.remember{
    position: relative;
    display: block;
    left: -35px;
    top: 10px;
}
.remember input{
    margin-right: 5px;
}
.remember p{
    display: inline-block;
    color: #858282;
    font-size: 11pt;
    cursor: pointer;
}
/*MENU NAV*/
.box-nav{
    background-color: #f0eeeb;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
}
.logo-nav{
    font-family: Sunflower;
    font-weight: bold;
    font-size: 15pt;
}
.list-nav ul{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.list-nav ul li, .login-nav p{
    font-size: 14pt;
    font-family: Roboto;
}
.login-nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-nav .login input{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1704em;
}
/* FIM DO MENU NAV */

/* INICIO DO TOP SECTION */
#main{
    flex-direction: column;
}
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0eeeb;
    padding: 0% 10% 6% 10%;
    
}
.top-section-left{
    margin-right: 1.25em;
}
.top-section-left-title, .top-section-left-text{
    margin-bottom: 4%;
} 
.top-section-left-title h1{
    font-size: 3.7em;
    font-weight: 600;
}

.top-section-left-text p:first-of-type{
    line-height: 1em;
}
.top-section-left-list img{
    width: 22px;
}
.top-section-left-list p{
    font-weight: 600;
}
.top-section-right{
    width: 100%;
    max-width: 450px;
    height: 35.125rem;
    background:url(../SpenseLandingPage/Assets/Hero\ Image\ \(Desktop\).png) no-repeat;
    background-size: 100% 100%;
}
.top-section-left-submit{
    padding-top: 20px;
}
/* FIM DO SECTION TOP */

/* INICIO DO DIVIDER */
.divider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 25px 10%;
}
.container-img img{
    max-width: 109px;
    background-position: center;
    width: 100%;
    height: 100%;
}
/* FIM DO DIVIVER */

/* INICIO DA MIDDLE SECTION */
.middle-section{
    display: flex;
    margin: 0 10%;
    border-radius: 25px;
    background-color: #f0eeeb;
    padding: 5% 6% 0 5%;
}
.middle-section-left{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 6%;
}
.middle-section-left-title {
    font-size: 18pt;
}
.middle-section-left-text{
    padding: 15px 0;
}
.middle-section-left-text p{
    line-height: 1.5em;
}
.middle-section-left-link a{
    font-weight: 600;
}
.middle-section-right{
    height: 100%;
    width: 100%;
}
.middle-section-right img{
    display: block;  
    width: 100%;
    max-width: 438px;
    margin: 0 auto;
    
}
/* FIM DA MIDDLE SECTION */
/* INICIO BOTTOM SECTION */
.bottom-section{
    display: flex;
    margin: 5% 10%;
    align-items: center;
}
.bottom-section-left img{
    box-shadow: 0px 15px 10px -15px #b5b0b0;
    width: 100%;
}
.bottom-section-right{
    padding: 0 3%;
}
.bottom-section-right-title h2{
    font-size: 24pt;
}
.bottom-section-right-text p{
    line-height: 1.5em;
    letter-spacing: 1px;
}
.bottom-section-right-link{
    padding-top: 25px;
    font-weight: 600;
}

/* FIM DO BOTOM SECTION */
/* INICIO DO FOOTER */
.footer{
    background-color: black;
    display: flex;
    padding: 0 10%;
}
.container-footer{
    padding: 30px;
    margin: 0 auto;
}
.container-footer h3{
    color: white;
}
.container-footer:first-child p{
    padding-top: 6px;
    line-height: 1em;
}
.container-footer p{
    color: #b5b0b0;
}
    /* FIM DO FOOTER */

/* RESPOSIVO PARA TABLET */
@media screen and (max-width: 1268px ){
    /* top-section */
    .top-section{
        flex-direction: column-reverse; 
    }
    .top-section-left{
        width: 100%;
    }
    .top-section-right{
        width: 100%;
        max-width: 1240px;
        background: url(../SpenseLandingPage/Assets/Hero\ Image\ \(Tablet\).png) no-repeat;
        background-size: 100% 100%;
        margin-bottom: 2.188em;
    }
    .top-section-left-title, .top-section-left-text{
        margin-bottom: 2%;
    }
    .top-section-left .text-style{
        display: inline;
        font-size: 1.3376em;
    }
    /* fim do top-section */
    .middle-section{
        flex-direction: column;
    }
    .middle-section-right img{
        margin: 0 auto;
    }
    
    .bottom-section-right{
        padding: 0;
        margin-bottom: 20px;
    }
    .bottom-section{
        flex-direction: column-reverse;
    }
    .footer{
        flex-wrap: wrap;
    }
    .container-img:nth-of-type(8){
        display: none;
    }
}
/* RESPOSIVO PARA MOBILE */
@media screen and (max-width: 980px){
    /* titulo responsivo */
    /* menu responsivo */
    .bg-show-mobile{
        width: 50vw;
        display: block;
        background-color: #b1afae;
        right: 0;
    }
    .list-nav{
        display: none;
        position: absolute;
        top: 25%;
        right: 0;
        width: 50%;
    }
    .list-nav ul, .show-login-nav{
        flex-direction: column;
    }
    .login-nav{
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        margin-bottom: 1.5rem;
    }   
    .show-list-nav, .show-login-nav{
        display: flex;
        justify-content: center;
        position: fixed;
    }
    .btn-menu{
        display: block;
        width: 24px;
        height: 20px;
        background-image: url(../SpenseLandingPage/Assets/Hamburger\ Menu.svg);
        cursor: pointer;
        z-index: 1;
    }
    .btn-menu-close{
        background-size: 100% 100%;
        position: fixed;
        right: 10%;
        background-image: url(../SpenseLandingPage/Assets/close.button.svg);
    }
    /* fim menu responsivo */
    .middle-section-right img{
        max-width: 300px;
    }
    .top-section-right{
        width: 100%;
        max-width: 840px;
        background: url(../SpenseLandingPage/Assets/Hero\ Image\ \(Tablet\).png) no-repeat;
        background-size: 100% 100%;
    }
    /* footer responsivo */
    .container-footer{
        padding:30px 0;
    }
}
/* FIM DO RESPONSIVO MOBILE */