/*
    font: Roboto - Texto geral
    font: Sunflower - Titulos
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sunflower:wght@500&display=swap');

.form {
    display: none;
}

.form-show {
    display: block;
}